* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;

}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0a7cff;
    color: white;
}

header h1 {
    font-size: 24px;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*Hero Section*/

.hero {
    padding: 100px 40px;
    text-align: center;
    background-color: #f2f7ff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 16px;
    color: #0a7cff;
}

.hero p{
    font-size: 36px;
    margin-bottom: 24px;
}

.btn{
    display: inline-block;
    padding: 14px 28px;
    background-color: #0a7cff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;

}

/* Services section*/
.services {
    padding: 60px 40px;
    text-align: center;
}

.services h3{
    font-size: 28px;
    margin-bottom: 40px;
}

.service-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #ffffff;
    padding: 24px;
    width: 220px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card h4{
    margin-bottom: 12px;
    color: #0a7cff;
}

/* why us section*/

.why-us{
    padding: 60px 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.why-us h3{
    font-size: 28px;
    margin-bottom: 40px;
}

.why-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.why{
    width: 260px;

}

.why h4{
    margin-bottom: 10px;
    color: #0a7cff;
}

/*Contact Section*/
.contact{
    padding: 80px 40px;
    background-color: #0a7cff;
    color: white;
    text-align: center;

}

.contact h3{
    font-size: 30px;
    margin-bottom: 16px;
}

.contact p{
    font-size: 18px;
    margin-bottom: 24px;
}

/*footer*/
.footer{
    padding: 20px;
    background-color: #222;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}